* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Cera Pro';
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}