* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Cera Pro';
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}


.line-before{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 94%;
        left: 50%;
        bottom: 0;
        background-color: #EBE6E1;
        transform: translateX(-50%);

    }
}

.mb0{
    margin-bottom: 0;
}