.tasks {
    padding-top: 117px;
    padding-bottom: 116px;

    // .tasks__wrapper

    &__wrapper {}

    // .tasks__top

    &__top {}

    // .tasks__title

    &__title {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 32px;
        /* identical to box height, or 64% */

        text-align: center;

        /* Main / Primary */

        color: #887569;
    }

    // .tasks__foundation

    &__foundation {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 32px;
        text-align: center;
        color: #887569;
        margin-top: 40px;
        margin-bottom: 33px;
    }

    // .tasks__subtitle

    &__subtitle {

        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #887569;
        text-align: center;
        margin-bottom: 86px;
    }

    // .tasks__bottom

    &__bottom {}

    // .tasks__content

    &__content {
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
    }

    // .tasks__list

    &__list {
        max-width: 546px;

    }

    // .tasks__item

    &__item {
        padding-left: 15px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #887569;
        margin-bottom: 48px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #887569;
            position: absolute;
            top: 16px;
            left: 0;
            transform: translateY(-50%);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .tasks__description

    &__description {}

    // .tasks__btn

    &__btn {
        text-decoration: none;
        margin: 50px auto 0;
        display: inline-flex;
        padding: 10px 61px;
        background: #A89583;
        border-radius: 4px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__invite {
        display: flex;
        justify-content: center;
    }
}

.description {
    max-width: 423px;

    // .description__item

    &__item {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #887569;
        margin-bottom: 43px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}